node_modules/
dist/
.env
coverage/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

.cache/
.eslintcache
*.tsbuildinfo
